



.container {
    width: 100%;
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    
}

.col-1 {
    width: var(--col-1);
    padding-right: 15px;
    padding-left: 15px;
}

.col-2 {
    width: var(--col-2);
    padding-right: 15px;
    padding-left: 15px;
}

.col-3 {
    width: var(--col-3);
    padding-right: 15px;
    padding-left: 15px;
}

.col-4 {
    width: var(--col-4);
    padding-right: 15px;
    padding-left: 15px;
}

.col-5 {
    width: var(--col-5);
    padding-right: 15px;
    padding-left: 15px;
}

.col-6 {
    width: var(--col-6);
    padding-right: 15px;
    padding-left: 15px;
}

.col-7 {
    width: var(--col-7);
    padding-right: 15px;
    padding-left: 15px;
}

.col-8 {
    width: var(--col-8);
    padding-right: 15px;
    padding-left: 15px;
}

.col-9 {
    width: var(--col-9);
    padding-right: 15px;
    padding-left: 15px;
}

.col-10 {
    width: var(--col-10);
    padding-right: 15px;
    padding-left: 15px;
}

.col-11 {
    width: var(--col-11);
    padding-right: 15px;
    padding-left: 15px;
}

.col-12 {
    width: var(--col-12);
    padding-right: 15px;
    padding-left: 15px;
}

.list-style-none {
    list-style: none;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.jcb {
    justify-content: space-between;
}

.jcc{
    justify-content: center;
}

.aic {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow {
    flex-grow: 1;
}

.text-center {
    text-align: center;
}

.m-auto {
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT';

}

body{
    font-family: 'PT';
}